body{
    background-color: #A5A2A1;
}

/* homepage */
.container{
    position: relative;
    width: 900px;
    height: 1500px;
    background: #FFFFFF;
    margin: auto;
}

/* Banner */
.banner{
    position: absolute;
    width: 900px;
    height: 280px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, #555555, #555555), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

/* banner 1 */
.banner1{
    position: absolute;
    width: 900px;
    height: 280px;
    left: calc(50% - 900px/2);
    top: calc(50% - 280px/2);
    background: linear-gradient(178.17deg, rgba(255, 255, 255, 0) 18.72%, #4DB3B3 98.09%), url(imagens/banner.png);
    filter: blur(4px);
}

/* Frame Contatos */
.framecontatos{
    position: absolute;
    width: 307px;
    height: 206px;
    left: calc(50% - 307px/2 + 267.5px);
    top: calc(50% - 206px/2);
}


.contato {
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
}

.icomail{
    width: 35px;
    height: 35px;
    padding-right: 5px;
}
.icocurriculo{
    width: 27px;
    height: 35px;
    padding-left: 4px;
    padding-right: 5px;
}
.email, .github, .Curriculo{
    display: flex;
    align-items: center;
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

article {
    padding-top: 355px;
}

.art{
    /* position: relative; */
    width: 827px;
    height: 202.53px;
    /* left: 29px;
    top: 355.47px; */
    /* padding-top: 15px; */
    border: 1px solid #C4D7D1;
    box-sizing: border-box;
    margin-inline: auto;
    margin-bottom: 50px;
}

.arttitulo{
    /* position: absolute; */
    float: left;
    /* width: 185px; */
    height: 137.6px;
    /* left: 10px;
    top: -125px; */
    margin-top: -285px;
    margin-left: 30px;
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #B37E5F;
}

.artprojeto{
    /* position: relative; */
    width: 827px;
    height: 331px;
    /* left: 29px;
    top: 355.47px; */
    /* padding-top: 15px; */
    border: 1px solid #C4D7D1;
    box-sizing: border-box;
    margin-inline: auto;
    margin-bottom: 50px;
}


.arttituloprojeto{
    /* position: absolute; */
    float: left;
    /* width: 185px; */
    height: 137.6px;
    /* left: 10px;
    top: -125px; */
    margin-top: -414px;
    margin-left: 30px;
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #B37E5F;
}

/* rodape */
footer{
    /* position: absolute; */
    width: 900px;
    height: 260px;
    /* left: 0px;
    top: 1246px; */
    background: #4DB3B3;
}