body{
    background-color: #A5A2A1;
}

a {
    text-decoration: none;
    list-style-type: none;
}

/* homepage */
.container{
    position: relative;
    width: 900px;
    height: 1500px;
    background: #FFFFFF;
    margin: auto;
}

/* Banner */
.banner{
    position: absolute;
    width: 900px;
    height: 280px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, #555555, #555555), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    
}

/* banner 1 */
.banner1{
    position: absolute;
    width: 900px;
    height: 280px;
    left: calc(50% - 900px/2);
    top: calc(50% - 280px/2);
    background: linear-gradient(178.17deg, rgba(255, 255, 255, 0) 18.72%, #4DB3B3 98.09%), url(imagens/banner.png);
    filter: blur(4px);
}

.frame {
    width: 827px;
    height: 280px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.frameid {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    z-index: 4;
    display: flex;
    flex-direction:column;
    /* display:inline-block; */
    

}

.fotoid {
    width: 150px;
    height: 150px;
    /* left: 26px;
    top: 19px; */
    background: url(imagens/foto1.png);
    background-position: center;
    /* opacity: 0.5; */
    border-radius: 100px;
    background-size: cover;
    /* display:inline-block;
    vertical-align:middle; */
}

.bordafoto {
    /* position: absolute; */
    width: 173px;
    height: 173px;
    /* left: 13px;
    top: 10px; */
    border-radius: 100px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* Frame Contatos */
.framecontatos{
    position: absolute;
    width: 307px;
    height: 206px;
    left: calc(50% - 307px/2 + 267.5px);
    top: calc(50% - 206px/2);
}


.contato {
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
}

.icomail{
    width: 35px;
    height: 35px;
    padding-right: 5px;
}
.icocurriculo{
    width: 27px;
    height: 35px;
    padding-left: 4px;
    padding-right: 5px;
}
.email, .github, .Curriculo{
    display: flex;
    align-items: center;
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

article {
    padding-top: 355px;
}

.art{
    /* position: relative; */
    width: 827px;
    height: 202.53px;
    /* left: 29px;
    top: 355.47px; */
    /* padding-top: 15px; */
    border: 1px solid #C4D7D1;
    box-sizing: border-box;
    margin-inline: auto;
    margin-bottom: 50px;
}

.art p {
    margin: 0;
}

.arttitulo{
    /* position: absolute; */
    float: left;
    /* width: 185px; */
    height: 137.6px;
    /* left: 10px;
    top: -125px; */
    margin-top: -285px;
    margin-left: 30px;
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #B37E5F;
}

.artprojeto{
    /* position: relative; */
    width: 827px;
    height: 331px;
    /* left: 29px;
    top: 355.47px; */
    /* padding-top: 15px; */
    border: 1px solid #C4D7D1;
    box-sizing: border-box;
    margin-inline: auto;
    margin-bottom: 50px;
}


.arttituloprojeto{
    /* position: absolute; */
    float: left;
    /* width: 185px; */
    height: 137.6px;
    /* left: 10px;
    top: -125px; */
    margin-top: -414px;
    margin-left: 30px;
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #B37E5F;
}


.artcv{
    /* position: relative; */
    width: 827px;
    height: 857px;
    /* left: 29px;
    top: 355.47px; */
    /* padding-top: 15px; */
    border: 1px solid #C4D7D1;
    box-sizing: border-box;
    margin-inline: auto;
    margin-bottom: 50px;
    padding-top: 45px;
    padding-left: 25px;


}
.artcv p {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E6B6B;
    margin: 0;
}
.artcv h4 {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2E6B6B;
    margin: 0;
}

.artcv br {
    line-height: 10px;
}

.arttitulocv{
    /* position: absolute; */
    float: left;
    /* width: 185px; */
    height: 137.6px;
    /* left: 10px;
    top: -125px; */
    margin-top: -938px;
    margin-left: 30px;
    font-family: Noto Sans;
    src: url('font/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #B37E5F;
}



ul.a {
    float:left;
    list-style-type: none;
    width: 230px;
    /* height: 97px; */
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2E6B6B;
    margin-top: 60px;
}

.art p{
    
    width: 670px;
    /* height: 88px; */
    /* left: 17px; */
    margin: auto;
    padding-top: 60px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: #2E6B6B;
}

ul.b {
    /* position: absolute;
    width: 361px;
    height: 32px;
    left: 40px;
    top: 63px; */

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    margin-top: 60px;
    color: #2E6B6B;
}

ul.b div {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2E6B6B;
    
}

ul.b a {
    color: #2E6B6B;
}



/* rodape */
footer{
    /* position: absolute; */
    width: auto;
    
    /* left: 0px;
    top: 1246px; */
    background: #4DB3B3;
    
    
    /* padding: 40px; */
    align-items: center;
}

.footergroup {
    width: 827px;
    height: 260px;
    margin: auto;
    /* margin-inline: auto; */
    /* border: 1px solid #C4D7D1;
    box-sizing: border-box; */
    align-items: center;
    display: flex;
    justify-content: space-between;
} 



.footercontato{
    display: flex;
    flex-direction:column;
}

.footercontato p{
    margin: 0;
}

.footerprojetos {
    display: flex;
    flex-direction:column;
}

.footerprojetos a {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 10px;
    text-align: end;
    
    
}

.botao{
    width: 200px;
    height: 47px;
    background: #4DB3B3;
    border-radius: 17px;
    filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 32px;
    margin-top: 32px;
    
}

.botao img {
margin-right: 15px;

    
}